body{
    background-color: #000000;
    overflow: hidden;
}

main::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: 80vh;

    background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 75%) no-repeat;
}

main .time {
    display: none;
    height: 100vh;
}

main .time.selecionado{
    display: block;
}

main .time .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo{
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-time{
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao{
    color: #ffffff;
    font-family: "Rubic";
    font-size: 16px;
    line-height: 24px;
    
}

.botoes{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 15px;
}

.botoes .botao{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
    
}

.botoes .botao.selecionado{
    transform: scale(1.2);
    box-shadow: 0 0 10px #d9d9d9;
}

.botoes .botao.acend.selecionado {
  box-shadow: 0 0 10px #9747ff;
}

.botoes .botao.loud.selecionado {
  box-shadow: 0 0 10px #64EB65;
}

.botoes .botao.eg.selecionado {
  box-shadow: 0 0 10px #ffffff;
}

.botoes .botao.edg.selecionado {
  box-shadow: 0 0 10px #ffdf00;
}

.botoes .botao.nrg.selecionado {
  box-shadow: 0 0 10px #F63D0A;
}